*{
    padding: 0;
    margin: 0;
    border: 0;
}

.trungnguyen-body3-wrap {
    height: 100%;
    background-color: #f9f9f9;
    padding-bottom: 60px;
}

.trungnguyen-body3-wrap-product {
    display: flex;
    justify-content: center;
}

.trungnguyen-body3-wrap-product-info {
    width: 540px;
}

.trungnguyen-body3-wrap-product-heading {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    font-size: 22px;
    font-weight: 550;
}

.trungnguyen-body3-wrap-product-para {
    text-align: justify;
    color: #616161;
    font-size: 13px;
    line-height: 1.8;
    margin: 0 0 20px 110px;
    word-break: break-all;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
}

.trungnguyen-body3-wrap-product-preorder {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px 0;
    cursor: pointer;
}

.trungnguyen-body3-wrap-product-preorder img {
    width: 42px;
    height: 42px;
    background-color: white;
    z-index: 1;
    border-radius: 50%;
}

.trungnguyen-body3-wrap-product-preorder-text {
    font-size: 10px;
    font-weight: bolder;
    border: 1px dashed #616161;
    color: #171c24;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
    height: 30px;
    padding-top: 8px;
    padding-left: 30px;
    margin-top: 6px;
    margin-left: -20px;
}

.trungnguyen-body3-wrap-product-img img {
    filter: grayscale(100%);
    transition: 0.3s;
    margin-top: 40px;

}

.trungnguyen-body3-wrap-product-img img:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1024px) {
    .trungnguyen-body3-wrap-product-info {
        width: 440px;
    }
    .trungnguyen-body3-wrap-product-img img {
        width: 440px;
    }
    .trungnguyen-body3-wrap-product-heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .trungnguyen-body3-wrap-product {
        display: block;
        overflow: hidden;
        width: 397.6px;

    }
    .trungnguyen-body3-wrap-product-info{
        width: 367.6px;
        display: block;
        margin: 0 15px;
    }
    .trungnguyen-body3-wrap-product-heading,
    .trungnguyen-body3-wrap-product-para,
    .trungnguyen-body3-wrap-product-preorder {
        display: flex;
        justify-content: center;
    }
    .trungnguyen-body3-wrap-product-para {
        font-size: 12px;
        text-align: justify;
    }
    .trungnguyen-body3-wrap-product-img img {
        display: flex;
        justify-content: center;
        width: 367.6px;
        margin: 0 15px;
    }
    .trungnguyen-body3-wrap-product-preorder{
        margin: 20px 0;
    }
    .trungnguyen-body3-wrap-product-preorder img {
        width: 32px;
        height: 32px;
    }
    .trungnguyen-body3-wrap-product-preorder-text {
        font-size: 8px;
        padding: 6px 10px 0 25px;
    }
}