
.header{
    position: fixed;
    top: 0%;
    width: 100%;
    max-height: 132px;
    background-color: #fff;
    z-index: 10;
    flex-direction: row;
}
.invertedd{
    height: 70px !important;
}

.header-menu{
    display: flex;
    font-size: 30px;
    margin-top: 0px;
    width: 60px;
    height: 55px;
    margin-left: -30px;
    
}
.header-menu i{
    margin-top: 20px;
    margin-left: 180px;
    position: absolute;
}
.header-menu:hover{
    cursor: pointer;
}
 
.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 155px;
    margin-left: 580px;
    margin-top: -70px;

    
}
.header-img-logo{
   
   
}
.header-img:hover{
    cursor: pointer;
}
.header-language {
        display: flex;
        width: 200px;
        height: 50px;
        position: absolute;
        top: 30%;
        right: 5%;
        
}
.header-language:hover{
    cursor: pointer;
}
.header-menu-list{
    width: 320px;
    height: 900px;
    background-color: red;
    z-index: 1000;
    margin-top: -200px;
    position: relative;

}
.header-menu-list-total{

    margin-top: 60px ;
}
//navbar
:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
    display: block;
}

body {
    margin: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #515151;
    text-align: left;
  
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Nunito", sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
}

.dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    z-index: 1000;
    width: 350px;
}

.dashboard-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 84px;
    
}

.dashboard-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 25px;
}

.dashboard-nav {
    width: 350px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #000;
    margin-left: 20px;
    
   
}

.dashboard-nav header {
    min-height: 84px;
    padding: 8px 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dashboard-nav header .menu-toggle {
   display: none;
    margin-right: auto;
}

.dashboard-nav a {
    color: #515151;
    font-size: 0.9rem;
    font-weight: 150;
    text-decoration: none;
}

.dashboard-nav a:hover {
    text-decoration: none;
}

.dashboard-nav {
    background-color: #000;
    display: none;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dropdown{
    animation: dropdown 0.8s linear;
}

.dashboard-nav a {
    color: #fff;
    
}

.dashboard-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 45px;
    
}

.dashboard-nav-item {
    min-height: 56px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
   
    width: 300px;
    
}

.dashboard-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 13px;
    margin-bottom: 10px;
  padding-left: 80px;
   
}

.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
    color: darkgoldenrod;
}

.active {
    background: rgba(0, 0, 0, 0.1);
}

.dashboard-nav-dropdown1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -30px;
    width: 380px;
    border: 1px solid #fff;
    
   
}

.dashboard-nav-dropdown1.show {
    background: rgba(255, 255, 255, 0.04);
    
    
}

.dashboard-nav-dropdown1.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
   
    
}

.dashboard-nav-dropdown1.show > .dashboard-nav-dropdown-toggle:after {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;

}

.dashboard-nav-dropdown1.show > .dashboard-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}
//
.dashboard-nav-dropdown2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -29px;
    width: 382px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
    
}

.dashboard-nav-dropdown2.show {
    background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown2.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
}

.dashboard-nav-dropdown2.show > .dashboard-nav-dropdown-toggle:after {
   -webkit-transform: none;
  -o-transform: none;
    transform: none;
    
}

.dashboard-nav-dropdown2.show > .dashboard-nav-dropdown-menu {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
   
}
//
.dashboard-nav-dropdown3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 380px;
    margin-left: -29px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.dashboard-nav-dropdown3.show {
    background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown3.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
}

.dashboard-nav-dropdown3.show > .dashboard-nav-dropdown-toggle:after {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.dashboard-nav-dropdown3.show > .dashboard-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
//
.dashboard-nav-dropdown4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -30px;
    width: 380px;
    border: 1px solid #fff;
   
}

.dashboard-nav-dropdown4.show {
    background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown4.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
}

.dashboard-nav-dropdown4.show > .dashboard-nav-dropdown-toggle:after {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.dashboard-nav-dropdown4.show > .dashboard-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
//
.dashboard-nav-dropdown5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -29px;
    width: 380px;
    border-right: 1px solid #fff;
}

.dashboard-nav-dropdown5.show {
    background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown5.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
}

.dashboard-nav-dropdown5.show > .dashboard-nav-dropdown-toggle:after {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.dashboard-nav-dropdown5.show > .dashboard-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.dashboard-nav-dropdown-toggle:after {
    content: "";
    margin-left: auto;
    display: inline-block;
    width: 30;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(81, 81, 81, 0.8);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

.dashboard-nav .dashboard-nav-dropdown-toggle:after {
    border-top-color: rgba(255, 255, 255, 0.72);
}

.dashboard-nav-dropdown-menu {
     display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  
   
   
}

 

.dashboard-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7rem !important;
}


.dashboard-nav-dropdown-item:hover {
    background: rgba(255, 255, 255, 0.04);
    color: darkgoldenrod;
}

.menu-toggle {
    position: relative;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    text-decoration: none;
    color: #000;
}

.menu-toggle i {
    font-size: 10px;
}

.dashboard-toolbar {
    min-height: 84px;
    background-color: #dfdfdf;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 27px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}
.dashboard-social{
    display: flex;
    flex-direction: row;
    margin-left: -140px;
    margin-top: 20px;
}
.dashboard-social i{
    margin-right: -150px;
    font-size: 2rem;
    position: relative;
}
.dashboard-social i:hover{
    cursor: pointer;
    color: darkgoldenrod;
}

.show{
    display: block;
}
.dashboard-icon-trai-tim{
    height: 30px;
    width: 30px;
    font-size: 14px;
 
  
    padding-left: 143px;
    color: #fff;
    position: fixed;


}
.dashboard-icon-trai-tim:hover{
    color: darkgoldenrod;
    cursor: pointer;
    transition: none !important;

}

//


@keyframes dropdown {
    0%{
        height: 0%;
    }
    50%{
        height: 50%;
    }
    75%{
        height: 75%;
    }
    100%{
        height: 100%;
    }
}
@media(max-width:1024px){
    .header-img{
        margin-left: 400px;
    }
    .header-language{
        right: 0%;
    }
    .header-menu{
        margin-left: 60px;
    }
}
@media (max-width:414px){
    .dashboard-nav{
        width: 420px;
    }
    .dashboard-nav-dropdown1{
        width: 450px;
    }
    .dashboard-nav-dropdown2{
        width: 450px;
    }
    .dashboard-nav-dropdown3{
        width: 450px;
    }
    .dashboard-nav-dropdown4{
        width: 450px;
    }
    .dashboard-nav-dropdown5{
        width: 450px;
    }
    .dashboard-nav-dropdown-item{
        border: none!important;
    }
    .ss{
        width: 440px !important;
    }
    .dashboard-nav-dropdown2 .dashboard-nav-item{
        width: 310px !important;
    }
    .dashboard-nav-item { 
        width: 270px !important;
        font-size: 0.5rem;
        border-right:none !important;
    }
    
    .header{
        height: 57px;
    }
    .header-language{
        right: -22%;
    }
    .header-menu {
        margin-left: 6px;
        margin-top: 7px;
    }
    .header-img {
        margin-left: 120px;
        margin-top: -105px;
    }
    .header-img-logo{
        width: 45%;
    }
}
