*{
    margin: 0;
    padding: 0;
    border: 0;
}

.trungnguyenlegend-body4-wrap-product-preorder {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.trungnguyenlegend-body4-wrap-product-preorder img {
    width: 42px;
    height: 42px;
    z-index: 1;
    border-radius: 50%;
    background-color: #f9f9f9;
}

.trungnguyenlegend-body4-wrap-product-preorder-text {
    font-size: 10px;
    font-weight: bolder;
    border: 1px dashed #616161;
    border-left: none;
    color: #171c24;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 20px;
    height: 30px;
    padding-top: 8px;
    padding-left: 20px;
    margin-top: 6px;
    margin-left: -10px;
}

.trungnguyenlegend-body4-wrap-product {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.trungnguyenlegend-body4-wrap-product-info {
    width: 540px;
}

.trungnguyenlegend-body4-wrap-product-heading {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
    font-size: 22px;
    font-weight: 550;
}

.trungnguyenlegend-body4-wrap-product-subheading {
    color: #666666;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.trungnguyenlegend-body4-wrap-product-para {
    text-align: center;
    color: #616161;
    font-size: 15px;
    line-height: 1.8;
    margin: 0 0 20px 0;
    font-style: italic;
}

@media screen and (max-width: 1024px) {
    .trungnguyenlegend-body4-wrap-product {
        padding: 30px 0;
    }
    .trungnguyenlegend-body4-wrap-product-info {
        width: 440px;
    }
}

@media screen and (max-width: 420px) {
    .trungnguyenlegend-body4-wrap-product {
        display: block;
    }
    .trungnguyenlegend-body4-wrap-product-info { 
        width: 397.6px;
    }
    .trungnguyenlegend-body4-wrap-product-img {
       display: flex;
       justify-content: center;
    }
    .trungnguyenlegend-body4-wrap-product-heading {
        color: #444444;
        font-size: 18px;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 10px;
        padding: 0px 18px 0 18px;
    }
    .trungnguyenlegend-body4-wrap-product-subheading,
    .trungnguyenlegend-body4-wrap-product-para {
        padding:  0 10px;
        color: #616161;
        line-height: 1.8;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }
}