
.footer    {
    width: 100%;
    height: 290px;
    background-color: pink;
    margin-top: 30px;
}
.footer-trungnguyen{
    display: flex;
    flex-direction: row;
    width: 560px;
    margin-left: 60px;
}
.footer-trungnguyen-img{
   margin-top: 30px;
}
.footer-trungnguyen-text{
    margin-left: 40px;
}
.footer-trungnguyen-text h2{
    color: #fff;
    font-size: 0.9rem;
    margin-top: 40px;
}
.footer-trungnguyen-text-tittle p{
    font-size: 0.8rem;
    color: #EEEEEE;
    margin-top: 10px;
}
.footer-trungnguyen-text-foot{
    font-size: 0.8rem;
    color: #EEEEEE;
}
.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -150px;
}
.footer-link-header{
    color: #fff;
    font-size: 0.9rem;
    margin-left: -20px;
}
.footer-link-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.footer-link-body a{
    font-size: 0.8rem;
    color: #EEEEEE;
    text-decoration: none;
    margin-top: 10px;
}
.footer-link-partner{
    margin-top: 60px;
    margin-left: -20px;
}
.footer-link-partner-trungnguyen{
   width: 60px;
   margin: 5px;
}
.footer-link-partner-trungnguyenold{
    width: 40px;
 }
 .footer-link-partner-trungnguyeng7{
    width: 40px;
 }

.footer-social {
    
}